/* You can add global styles to this file, and also import other style files */
@import "@webpixels/css";

body {
    background-color: #F8FAFB;
}
main {
    margin: 10px 0;
    .main-content {
        min-height: 400px;
        
    }
}