/* You can add global styles to this file, and also import other style files */
@import "@webpixels/css";

body {
    background-color: #F8FAFB;
}
main {
    margin: 10px 0;
    .main-content {
        min-height: 400px;
        
    }
}
.pointer {
    cursor: pointer;
}

/* Custom bootstrap*/
.btn-active {
  background-color: #0B5ED7 !important;
  color: white !important
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
